footer
  .clearfix.d-flex.justify-content-between
    .social.d-flex.flex-column
      .social-item
        <a class="facebook" href="https://www.facebook.com/iGEMUGent2020" target = "_blank"></a>
      .social-item
        <a class="twitter" href="https://twitter.com/igem_ghent" target = "_blank"></a>
      .social-item
        <a class="instagram" href="https://www.instagram.com/igemugent2020" target = "_blank"></a>
    .sponsor.d-flex.flex-column
      .sponsor-item.lg
        a(href="https://reviverestore.org" target="_blank")
          img(src=require('Assets/img/sponsor_rnr.png')['default'])
      .sponsor-item
        a(href="http://csb.mystrikingly.com" target="_blank")
          img(src=require('Assets/img/sponsor_cfsb.png')['default'])
    .sponsor.d-flex.flex-column
      .sponsor-item
        a(href = "https://www.dewatergroep.be" target="_blank")
          img(src=require('Assets/img/sponsor_watergroep.png')['default'])
          
    .sponsor.d-flex.flex-column
      .sponsor-item.lg
        a(href = "https://www.ugent.be" target="_blank")
          img(src=require('Assets/img/sponsor_ugent.png')['default'])
    .sponsor.d-flex.flex-column
      .sponsor-item.lg
        a(href = "https://www.ugent.be/bw/" target="_blank")
          img(src=require('Assets/img/sponsor_faculteit.png')['default'])
      .sponsor-item
        a(href = "http://www.biobix.be" target="_blank")
          img(src=require('Assets/img/sponsor_biobix.png')['default'])


//- 1st try! Images no longer load :D
    //- .sponsor.d-flex.flex-column
    //-   .sponsor-item.lg
    //-     <a href = "https://reviverestore.org" target="_blank">
    //-     <img src="../assets/img/sponsor_rnr.png" style = "width:100%">
    //-     </a>
    //-   .sponsor-item
    //-     <a href = "http://csb.mystrikingly.com" target="_blank">
    //-     <img src="../assets/img/sponsor_cfsb.png" style = "width:100%">
    //-     </a>
    //- .sponsor.d-flex.flex-column
    //-   .sponsor-item
    //-     <a href = "https://www.dewatergroep.be" target="_blank">
    //-     <img src="../assets/img/sponsor_watergroep.png" style = "width:100%">
    //-     </a>
    //- .sponsor.d-flex.flex-column
    //-   .sponsor-item.lg
    //-     <a href = "https://www.ugent.be" target="_blank">
    //-     <img src="../assets/img/sponsor_ugent.png" width = 100%>
    //-     </a>
    //- .sponsor.d-flex.flex-column
    //-   .sponsor-item.lg
    //-     <a href = "https://www.ugent.be/bw/" target="_blank">
    //-     <img src="../assets/img/sponsor_faculteit.png" width = 100%>
    //-     </a>
    //-   .sponsor-item
    //-     <a href = "http://www.biobix.be" target="_blank">
    //-     <img src="../assets/img/sponsor_biobix.png" width = 100%>
    //-     </a>
