//- extends ../templates/contents.pug
include ../templates/mixins


block headVars
    - var title = "Team Members"
    - var tagline = "Team"
    - var requireMathJax = false
    - var banner = "banner-team"

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | Vsycle
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .banner(class=banner)
        .container
          h1
          p.lead.pl-1

    main
      - var teamMembers = [{'name': "Bram Spanoghe", 'cls': 'member-bram', 'modal': '#modal-bram'}, {'name': "Brent Vanvyaene", 'cls': 'member-brent', 'modal': '#modal-brent'}, {'name': "Lander De Vos", 'cls': 'member-lander', 'modal': '#modal-lander'}, {'name': "Laure Craeye", 'cls': 'member-laure', 'modal': '#modal-laure'}, {'name': "Marvi van Tongeren", 'cls': 'member-marvi', 'modal': '#modal-marvi'}, {'name': "Shauny Van Hoye", 'cls': 'member-shauny', 'modal': '#modal-shauny'}]
      - var principalInstructors = [{'name': "Marjan De Mey", 'cls': 'pi-marjan', 'modal': '#modal-marjan'}, {'name': "Wim Van Criekinge", 'cls': 'pi-wim', 'modal': '#modal-wim'}]
      - var instructors = [{'name': "Michiel Stock", 'cls': 'instr-michiel', 'modal': '#modal-michiel'}, {'name': "José Manuel Salvador Lopez", 'cls': 'instr-jose', 'modal': '#modal-jose'}]
      .container
        h1 Team
        .row.d-flex.justify-content-center
          each member in teamMembers
            .col-lg-6.col-md-12.team-member(id=member['cls'] data-toggle="modal" data-target=member['modal'])
              .hexagon
                .hexagon-in1
                  .hexagon-in2(class=member['cls'])
              .card
                .card-body.text-center
                  h5.card-title #{member['name']}

        h1 Principal Instructors
        .row.d-flex.justify-content-center
          each member in principalInstructors
            .col-lg-6.col-md-12.team-member(id=member['cls'] data-toggle="modal" data-target=member['modal'])
              .hexagon
                .hexagon-in1
                  .hexagon-in2(class=member['cls'])
              .card
                .card-body.text-center
                  h5.card-title #{member['name']}

        h1 Instructors
        .row.d-flex.justify-content-center
          each member in instructors
            .col-lg-6.col-md-12.team-member(id=member['cls'] data-toggle="modal" data-target=member['modal'])
              .hexagon
                .hexagon-in1
                  .hexagon-in2(class=member['cls'])
              .card
                .card-body.text-center
                  h5.card-title #{member['name']}


      .modal.fade(id="modal-bram" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Bram Spanoghe
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master in Science in Bioscience Engineering: Cell and Gene Biotechnology
              ul
                li Age: 21 y/o
                li Favorite sport: Badminton
                li Favorite pets: Chickens
                li Favorite mammal: The noble bunny
                li Favorite bacterium: All <i>Rhizobia</i>. They're all good bois.
                li Favorite quote: <i>"Thanks, Obama"</i> - Barack Obama
                li Reasons for participating in iGEM: Accumulating international fame is a crucial step in becoming a succesful mad scientist

      .modal.fade(id="modal-brent" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Brent Vanvyaene
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master in Science in Bioscience Engineering: Cell and Gene Biotechnology
              ul
                li Age: 20 y/o
                li Favorite sport: Running
                li Favorite pets: Cats
                li Favorite mammal: Elephant
                li Favorite bacterium: <i>Photorhabdus luminescens</i>
                li Favorite quote: <i>"A good engineer is a lazy engineer."</i> - Niko Verhoest
                li Reasons for participating in iGEM: iGEM seemed like a great opportunity to use the things I learned during my school carreer and to actively search for a solution for a world problem.

      .modal.fade(id="modal-lander" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Lander De Vos
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master of science in the industrial sciences - Biochemistry
              ul
                li Age: 21 y/o
                li Favorite sport: Badminton
                li Favorite pets: Dog
                li Favorite mammal: Honey badger
                li Favorite bacterium: <i>Clostridium luticellarii</i>
                li Favorite quote: <i>"98% of Albert Einstein quotes are fake."</i> - A. Einstein
                li Reasons for participating in iGEM: The challenge to work on a project from the idea to the realisation.

      .modal.fade(id="modal-laure" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Laure Craeye
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master of science in the industrial sciences - Biochemistry
              ul
                li Age: 21 y/o
                li Favorite sport: Ski & Surf
                li Favorite pets: Bunnies & Sheep
                li Favorite mammal: Elephant
                li Favorite bacterium: <i>Alliivibrio fisheri</i>
                li Favorite quote: <i>"Nil volentibus arduum (Nothing is impossible if you just want it) "</i>
                li Reasons for participating in iGEM: iGEM gives us the opportunity to convert our knowledge into something practical, something useful. iGEM gives us the opportunity to discover ourselves, to meet new people from all over the world and to discover what we want in the future and as a job. This is the best opportunity I had during my school career.

      .modal.fade(id="modal-marvi" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Marvi van Tongeren
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master of Science in Bioscience Engineering: Cell and Gene Biotechnology
              ul
                li Age: 22 y/o
                li Favorite sport: Cycling
                li Favorite pets: Dogs
                li Favorite mammal: Black panther
                li Favorite bacterium: <i>Deinococcus radiodurans</i>
                li Favorite quote: <i>"If you tell me, I will listen. If you show me, I will see. But if you let me experience, I will learn."</i> - Lao Tzu
                li Reasons for participating in iGEM: A perfect opportunity to brainstorm about an actual world problem with people who have the same interests as you. It challenges you ‘to think outside the box’ and to deal with all the pros and cons of a scientific project.

      .modal.fade(id="modal-shauny" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Shauny Van Hoye
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Master of Science in Bioscience Engineering: Cell and Gene Biotechnology
              ul
                li Age: 21 y/o
                li Favorite sport: Snowboarding
                li Favorite pets: Bunnies
                li Favorite mammal: Snow leopard
                li Favorite bacterium: <i>Magnetospirillum magneticum </i>
                li Favorite quote: <i>"There’s a way to do it better — find it"</i> - Thomas Edison
                li Reasons for participating in iGEM: Why do anything? Curiosity got the best of me.

      .modal.fade(id="modal-marjan" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Marjan De Mey
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Professor of Metabolic Engineering and head of the Metabolic Engineering Group at the Centre of Synthetic Biology (CSB)
              ul
                li Age: The answer to the Ultimate Question of Life
                li Favorite sport: Mind games
                li Favorite pets: Anything but spiders
                li Favorite mammal: Wildcat
                li Favorite micro-organism: Non-model microorganisms, as there is still much to discover
                li Favorite quote:  <i>"Never waste a good crisis"</i> - maybe Winston Churchill
                li Reasons for participating in iGEM: To reach for the sky

      .modal.fade(id="modal-wim" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Wim Van Criekinge
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 Part-time professor at Ghent university as head of the laboratory for computational genomics and bioinformatics (BioBix)
              ul
                li Age: 49
                li Favorite sport: Badminton
                li Favorite pets: Roof - Blue Healer (Australian Cattle Dog)
                li Favorite mammal: Pot-bellied pigs named "Big" and "Data"
                li Favorite micro-organism: MS2 (first complete genome ever sequenced… by researcher in Gent)
                li Favorite quote:  <i>"The secret to creativity is knowing how to hide your sources"</i> - Albert Einstein
                li Reasons for participating in iGEM: Always going for the red pill

      .modal.fade(id="modal-michiel" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title Michiel Stock
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 FWO funded postdoctoral researcher at the KERMIT (knowledge-based systems) group at Ghent University
              ul
                li Age: 31
                li Favorite sport: Running
                li Favorite pets: My seal point Persian cat
                li Favorite mammal: Platypus
                li Favorite micro-organism: F1 phage
                li Favorite quote:  <i>"Sometimes science is more art than science, Morty. Lot of people don't get that."</i> - Rick
                li Reasons for participating in iGEM: Free DNA synthesis!

      .modal.fade(id="modal-jose" tabindex="-1" role="dialog"  aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h4.modal-title José Manuel Salvador Lopez
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
            .modal-body
              h6 PhD student researching on fatty acid export systems in oleaginous yeasts
              ul
                li Age: 26
                li Favorite sport: Hiking
                li Favorite pets: The duck and chicken from Friends
                li Favorite mammal: Killer whale
                li Favorite micro-organism: <i>Agrobacterium tumefaciens</i>, the only living being that can do genetic engineering without restrictions in Europe
                li Favorite quote:  <i>"Hope is undiscovered dissapointment."</i> - Sun's trainer in Sense8
                li Reasons for participating in iGEM: I participated in iGEM in 2017 as part of the Wageningen team and I wanted to share my experience and advice with the new generations.


    include ../templates/footer.pug
